{% extends 'base.html.twig' %}

{% block title %}SnapCode™ | A Propos de nous {% endblock %}

{% block body %}
    <!-- banner starts -->
    <div class="banner d-flex align-items-center light-grey-bg">

        <!-- Breadcrumb starts -->
        <nav class="breadcrumb-wrapper" aria-label="breadcrumb">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{path('app_home')}}">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">A propos de nous</li>
                </ol>
            </div>
        </nav>


        <div class="container">
            <div class="row no-gutters align-items-center">
                <div class="col-lg-6 text-center text-lg-left">
                    <h1>A propos de nous</h1>
                    <p class="larger-txt"> Découvrez comment nous avons aidé plusieurs de nos clients à se développer en ligne.
                        <br>Cela vous donnera une idée de nos capacités.</p>

                </div>
                <!-- End of .col-lg-5 -->

                <div class="col-lg-6">
                    <div class="img-container text-center text-lg-right">
                        <img src="assets/images/banner/about-banner.png" alt="Home banner image" class="img-fluid">
                    </div>
                    <!-- End of .img-container -->
                </div>
                <!-- End of .col-lg-7 -->
            </div>
            <!-- End of .row -->
        </div>
        <!-- End of .container -->
    </div>
    <!-- End of .banner -->


    <!-- our features starts -->
    <section class="features section-gap" id="cynic-about" data-scroll-offset="165">
        <div class="container">


            <div class="features-grid">
                <div class="row align-items-center">
                    <div class="col-lg-6 text-center text-lg-left">
                        <div class="img-container">
                            <img src="assets/images/features/features-img-1.png" alt="why choose us" class="img-fluid">

                        </div>
                        <!-- End of .img-container -->
                    </div>
                    <!-- End of .col-lg-6 -->

                    <div class="col-lg-5 offset-lg-1">
                        <div class="features-content">
                            <h2 class="section-title">Les raisons pour lesquelles nous choisir</h2>
                            <p>
                                Choisir notre équipe, c'est opter pour une excellence inégalée dans la création web sur mesure. Nous nous distinguons par notre engagement absolu envers la satisfaction du client, plongeant au cœur de vos besoins pour traduire votre vision en une réalité digitale exceptionnelle. Notre approche personnalisée transcende les attentes, intégrant non seulement des compétences techniques avancées mais également une compréhension profonde de vos objectifs. Chez nous, chaque projet est une collaboration unique, où nous mettons notre expertise au service de la réalisation de vos ambitions. <br> Faire le choix de notre équipe, c'est choisir l'excellence, l'innovation, et un partenariat véritablement centré sur vous.
                            </p>

                        </div>
                        <!-- End of .features-content -->
                    </div>

                    <!-- LISTE POUR EXPLIQUER POURQUOI NOUS -->
                        <!--<div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        <li>
                                            <strong>Excellence Technique :</strong> Notre équipe de développeurs chevronnés excelle dans la maîtrise des dernières technologies, garantissant des solutions web à la pointe de l'innovation.
                                        </li>
                                        <li>
                                            <strong>Approche Personnalisée :</strong> Chaque projet est traité avec une approche sur mesure, car nous comprenons que chaque entreprise est unique, nécessitant des solutions spécifiques.
                                        </li>
                                        <li>
                                            <strong>Écoute Active :</strong> Nous commençons chaque projet par un audit approfondi, prêtant une oreille attentive à vos besoins pour assurer que chaque ligne de code contribue à la réalisation de vos objectifs.
                                        </li>
                                        <li>
                                            <strong>Réactivité :</strong> Notre équipe est réputée pour sa réactivité exceptionnelle, assurant des délais rapides sans compromis sur la qualité du travail.
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li>
                                            <strong>Focus sur les Résultats :</strong> Nous ne nous contentons pas de créer des sites web, nous construisons des outils puissants qui génèrent des résultats tangibles pour votre entreprise.
                                        </li>
                                        <li>
                                            <strong>Support Continu :</strong> Même après la livraison, notre support continu assure que votre site reste à la pointe de la performance et évolue avec les changements de votre entreprise.
                                        </li>
                                        <li>
                                            <strong>Innovation Permanente :</strong> Nous restons constamment à l'affût des tendances et technologies émergentes, garantissant que votre site web demeure à la pointe de l'innovation digitale.
                                        </li>
                                        <li>
                                            <strong>Satisfaction Client :</strong> Les témoignages de nos clients parlent d'eux-mêmes, reflétant une satisfaction constante grâce à notre capacité à dépasser les attentes.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>-->
                    <!-- LISTE POUR EXPLIQUER POURQUOI NOUS -->

                    <!-- End of .col-lg-6 -->
                </div>
                <!-- End of .row -->
            </div>
            <!-- End of .features-grid -->

            <div class="features-grid">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-2 offset-lg-1 text-center text-lg-right">
                        <div class="img-container">
                            <img src="assets/images/features/features-img-2.png" alt="why choose us" class="img-fluid">

                        </div>
                        <!-- End of .img-container -->
                    </div>
                    <!-- End of .col-lg-6 -->

                    <div class="col-lg-5">
                        <div class="features-content">
                            <h2 class="section-title">Audit complet sur votre situation.</h2>
                            <p>
                                Notre engagement envers l'excellence commence par une approche minutieuse et personnalisée – un audit complet de votre situation. Nous croyons fermement que comprendre pleinement vos besoins est la clé pour offrir des solutions qui dépassent vos attentes. Notre équipe dédiée s'immerge dans l'analyse approfondie de votre contexte, identifiant les opportunités et relevant les défis spécifiques à votre entreprise. Ce processus d'audit exhaustif forme la base de notre démarche, nous permettant de concevoir des stratégies et des solutions sur mesure qui sont non seulement techniquement robustes mais également parfaitement alignées sur vos objectifs. En faisant le choix de notre équipe, vous optez pour une collaboration centrée sur votre réussite, où chaque détail est soigneusement évalué pour garantir une performance exceptionnelle.
                            </p>
                        </div>
                        <!-- End of .features-content -->
                    </div>
                    <!-- End of .col-lg-6 -->
                </div>
                <!-- End of .row -->
            </div>
            <!-- End of .features-grid -->


        </div>
        <!-- End of .container -->
    </section>
    <!-- End of .features -->

    <!-- achievements starts -->
    <div class="achievements section-gap theme-bg-d ">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="counter-block d-flex align-items-center justify-content-center">
                        <div class="icon-container">
                            <img src="assets/images/achievements-counter/counter-icon-1.png" alt="Happy Clients">
                        </div>
                        <!-- End of .icon-container -->

                        <div class="counter-wrapper">
                            <div class="number">
                                <span class="counter">131</span>+
                            </div>
                            <!-- End of .number -->
                            Clients <br>satisfaits
                        </div>
                        <!-- End of .counter-wrapper -->
                    </div>
                    <!-- End of .counter-block -->
                </div>
                <!-- End of .col-4 -->
                <div class="col-4">
                    <div class="counter-block d-flex align-items-center justify-content-center">
                        <div class="icon-container">
                            <img src="assets/images/achievements-counter/counter-icon-2.png" alt="Running Projects">
                        </div>
                        <!-- End of .icon-container -->

                        <div class="counter-wrapper">
                            <div class="number">
                                <span class="counter">11</span>+
                            </div>
                            <!-- End of .number -->
                            Projets <br>en cours
                        </div>
                        <!-- End of .counter-wrapper -->
                    </div>
                    <!-- End of .counter-block -->
                </div>
                <div class="col-4">
                    <div class="counter-block d-flex align-items-center justify-content-center">
                        <div class="icon-container">
                            <img src="assets/images/achievements-counter/counter-icon-3.png" alt="Project Completed">
                        </div>
                        <!-- End of .icon-container -->

                        <div class="counter-wrapper">
                            <div class="number">
                                <span class="counter">219</span>+
                            </div>
                            <!-- End of .number -->
                            Projets <br>Terminés
                        </div>
                        <!-- End of .counter-wrapper -->
                    </div>
                    <!-- End of .counter-block -->
                </div>
            </div>
            <!-- End of .row -->
        </div>
        <!-- End of .container -->
    </div>
    <!-- End of .achievements -->

    <!-- Start of .team -->
        <section class="team section-gap light-grey-bg" id="cynic-team" data-scroll-offset="75" data-scroll-offset-mobile="75">
            <div class="container">
                <h2 class="section-title text-center">Notre Dream Team</h2>
                <p class="larger-txt text-center">Voici l'équipe complète qui menera à bien votre projet.</p>

                <div class="grid-wrapper">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="team.html" class="img-card team-card text-center" data-toggle="modal" data-target="#team-modal">
                                <img src="assets/images/team/team-member-1.png" alt="team member" class="img-fluid">
                                <h4>
                                    <span>Jérémie NGOYI</span>CEO - Développeur Full Stack</h4>
                            </a>
                            <!-- End of .img-card -->
                        </div>
                        <!-- End of .col-md-4 -->

                        
                            <!--<div class="col-12 text-center">
                                <a href="team.html" class="custom-btn secondary-btn">Voir toute l'équipe</a>
                            </div>-->
                        
                    </div>
                    <!-- End of .row -->
                </div>
                <!-- End of .grid-wrapper -->
            </div>
            <!-- End of .container -->
        </section>-->
    <!-- End of .team -->

    <!-- Section latest-news starts  Rendez vous Start -->
    <section class="newsletter section-gap newsletter__white">
        <div class="container">
            <h2 class="text-center">Intéressé par nos services ?
                Réservez votre appel avec un expert.</h2>
                <div class="d-flex justify-content-center flex-column text-center">
                    <p class="font-weight-bold mb-3">Si vous êtes intéressé par nos services, réservez votre appel dès aujourd'hui avec un de nos experts.<br> Cet appel est parfait si vous :</p>
                    <ul class="text-black">
                        <li>Vous avez pour objectif de de vous créer ou d'optimiser votre présence sur internet via un portfolio, un site web one-page, multipage etc.</li>
                        <li>Vous êtes une petite/moyenne entreprise locale et vous pensez que vous devriez avoir une présence plus importante sur internet pour votre activité.</li>
                        <li>Ou encore, vous êtes une entreprise déjà établie, une agence et vous rencontrez des soucis de délivrabilité sur le développement de pages web spécifiques.</li>
                    </ul>
                </div>

            <!-- <div class="social-icons-wrapper d-flex justify-content-center">
                <p>Suivez nous:</p>
                <ul class="social-icons">
                    <li>
                        <a href="http://www.facebook.com/" target="_blank" rel="noopener">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://twitter.com/" target="_blank" rel="noopener">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://youtube.com/" target="_blank" rel="noopener">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://plus.google.com/discover" target="_blank" rel="noopener">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                </ul>
                
            </div> --> 
                <!-- End of .social-icons -->

            <!-- End of .social-icons-wrapper -->
        </div>
        <!-- End of .container -->

        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <!-- Début de widget de lien Calendly -->
                        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                        <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
                        <a href="" class="custom-btn secondary-btn" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/ngoyi-jeremie-pro/appel-d-information-jeremiecode-1er-contact?hide_gdpr_banner=1'});return false;">Prendre un RDV</a>
                    <!-- Fin de widget de lien Calendly -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of .latest-news End of .rendez vous -->

    <div class="modal fade team-modal" id="team-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                    <!-- End of .close -->
                </div>
                <!-- End of .modal-header -->

                <div class="modal-body text-center">
                    <img src="assets/images/team/team-modal-img.png" alt="team modal image"
                        class="img-fluid modal-feat-img">
                    <div class="modal-title">
                        <h4>Jérémie NGOYI
                            <span>CEO - Développeur Full Stack</span>
                        </h4>
                    </div>
                    <!-- End of .modal-title -->
                    <p>
                       En tant que développeur full-stack passionné et fondateur de cette agence innovante, je m'engage à repousser les limites de la création web sur mesure. Fort de mon expertise technique approfondie, acquis lors de multiples collaboration avec des grandes enseignes comme <strong><em>Printemps Paris</em></strong>, <strong><em>Marionnaud Paris</em></strong> entre autres, je dirige aujourd'hui une équipe de professionnels dévoués pour offrir des solutions numériques exceptionnelles. <br><br> Notre agence se distingue par son approche personnalisée, alliant une créativité avant-gardiste à une excellence technique. Nous transformons les visions en réalités digitales, offrant des sites web sur mesure qui transcendent les attentes. Chez nous, chaque ligne de code raconte une histoire de succès, et chaque projet est une opportunité de créer quelque chose d'extraordinaire pour nos clients.
                    </p>

                    <ul class="social-icons">
                        <li>
                            <a href="github.com/JeremieN6/jstream" target="_blank" rel="noopener">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/jeremie-ngoyi-maole-366a41144/" target="_blank" rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- End of .social-icons -->
                </div>
                <!-- End of .modal-body -->
            </div>
            <!-- End of .modal-content -->
        </div>
        <!-- End of .modal-dialog -->
    </div>
    <!-- End of .team-modal -->
{% endblock %}