<!DOCTYPE html>
<html lang="fr" data-theme="auto">

<head>
    {% block meta %}
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    <title>{% block title %}Voyage+{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <!-- Load Flashy default CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    <!--Message Flash Icon-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}

</head>

<body>
    {% include 'header_error.html.twig' %}

    <main class="container">
        {% block body %}{% endblock %}
    </main>

    {% include 'footer.html.twig' %}

    {% block javascripts %}
        <script src="assets/js/vendor/jquery.min.js"></script>
        <script src="assets/js/vendor/jquery-migrate.min.js"></script>

        <!-- jQuery Easing Plugin -->
        <script src="assets/js/vendor/easing-1.3.js"></script>
        <!-- Bootstrap js -->
        <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendor/isotope.pkgd.min.js"></script>

        <!-- jQuery progressbar plugin -->
        <script src="assets/js/vendor/jquery.waypoints.min.js"></script>
        <script src="assets/js/vendor/jquery.counterup.min.js"></script>
        <!-- ImagesLoaded js -->
        <script src="assets/js/vendor/imagesloaded.pkgd.min.js"></script>
        <!-- Owl carousel js -->
        <script src="assets/js/vendor/owl.carousel.min.js"></script>
        <!-- Magnific popup -->
        <script src="assets/js/vendor/jquery.magnific-popup.min.js"></script>
        <!-- Plugins -->
        <script src="assets/js/plugins.js"></script>
        <!-- Custom Script -->
        <script src="assets/js/main.min.js"></script>
        <!-- Load Flashy default CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    {% endblock %}
    <!-- Include Flashy default partial -->
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
    <script>
        $(".my-alert").alert('my-close-button')
    </script>
</body>

</html>