<footer class="footer-component">
    <div class="footer_content-wrapper">
        <div class="footer_cta">
            <div class="footer_logo-wrapper">
                <a href="{{path('app_home')}}" class="nav_logo-link w-nav-brand">
                    <img src="./assets/images/home/brand-logo.svg" loading="lazy" 
                    srcset="./assets/images/home/brand-logo.svg, 
                    ./assets/images/home/brand-logo.svg, 
                    ./assets/images/home/brand-logo.svg" alt="Logo SnapCode™ Agency transparent" class="nav_logo">
                </a>
            </div>
            <div class="foooter_cta-wrapper">
                <div class="footer_cta-title">Prêt à vous lancez ?</div>
                <div class="container_link_cta">
                    <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/ngoyi-jeremie-pro/appel-d-information-jeremiecode-1er-contact?hide_gdpr_banner=1'});return false;">
                        <div class="container_cta">
                            <div class="button w-button">Prendre un RDV</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="w-layout-grid footer_grid">
            <address class="footer_links-list">
                <div class="footer_logo">Jérémie MAOLE</div>
                <div class="footer_copyright">Expert Développement Web<br>CEO SnapCode™ Agency</div>
                <a href="tel:+33661463480" class="footer_contact-link">+33 6 6* 4* 34 8*</a>
                <a href="mailto:contact@jeremiecode.fr" class="footer_contact-link">contact@jeremiecode.fr</a>
            </address>
            <div class="footer_links-list is--lower">
                <div class="footer_title">Informations</div>
                <a href="#a-propos" class="footer_link">À Propos</a>
                <a href="#realisations" class="footer_link">Mes Réalisations</a>
                <a href="#avis-clients" class="footer_link">Avis Clients</a>
                <a href="#tarifs" class="footer_link">Mes tarifs</a>
                <a href="#contact" class="footer_link">Contact</a>
                <a href="https://www.jeremiecode.fr/snapcode-agency-blog/public/" target="_blank" class="footer_link">Blog</a>
            </div>
        </div>
        <div class="footer_bottom-content">
            <p class="footer_bottom-text">© 2019-<span id="year" class="footer_auto-year">2025</span> 
                <a href="/#" class="footer_home-link">
                    <span class="white-text">SnapCode™ Agency</span>
                </a>. Tous droits réservés. Designed by SnapCode™ Agency
            </p>
            <div class="footer_social-list">
                <a href="https://www.linkedin.com/in/jeremie-ngoyi-maole-366a41144/" target="_blank" class="footer_social-link-item w-inline-block">
                    <img src="https://assets-global.website-files.com/6533bdea645a5e7646167e3d/6533bdeb645a5e7646167f13_linkedin-icon.svg" alt="Icone linkedin" class="footer_social-icon">
                </a>
                <a href="https://www.malt.fr/profile/jeremiengoyi?overview" target="_blank" class="footer_social-link-item w-inline-block">
                    <img src="https://assets-global.website-files.com/6533bdea645a5e7646167e3d/6533ebc22845a4410ac2963e_malt-svgrepo-com.svg" width="24" alt="Icone Malt" class="footer_social-icon">
                </a>
                <a href="mailto:contact@jeremiecode.fr?subject=J'ai%20une%20question%20!%20" class="footer_social-link-item w-inline-block">
                    <img src="https://assets-global.website-files.com/6533bdea645a5e7646167e3d/6533bdeb645a5e7646167f14_icon-mail.svg" alt="Icone mail" class="footer_social-icon">
                </a>
            </div>
        </div>
    </div>
</footer>
