<div class="nav sticky sticky-dark" id="navMenu">
    <a href="{{path('app_home')}}">
        <div class="containerLogo">
            <img src="./assets/images/home/brand-logo.svg" alt="Logo" class="contentLogo" id="contentLogo">
        </div>
    </a>
    <div class="containerNavIcon">
        <i class="fa fa-bars" id="fa-bars" aria-hidden="true" onclick="openMenu();"></i>
        <i class="fa fa-close" id="closeIcon" aria-hidden="true" onclick="closeMenu();"></i>
    </div>
    <div class="containerNavMenu" id="containerNavMenu">
        <ul class="menuUl" id="menuUl">
            <a href="#realisations" class="link-styled">
                <li class="menuLi">Mes réalisations</li>
            </a>
            <a href="#process" class="link-styled">
                <li class="menuLi">Comment ça marche</li>
            </a>
            <a href="#testimonials" class="link-styled">
                <li class="menuLi">Avis</li>
            </a>
            <a href="#pricing" class="link-styled">
                <li class="menuLi">Tarifs</li>
            </a>
            <a href="{{ path('blog_index') }}" class="link-styled">
                <li class="menuLi">Blog</li>
            </a>
        </ul>
    </div>
    <div class="containerSwitchTheme" id="containerSwitchTheme">
        <div class="switchTheme" id="switchTheme">
            <div class="containerMoon isActive" id="containerMoon" onclick="switchDark();">
                <img src="./assets/images/home/Moon_fill_light.svg" alt="Moon Fill Light" class="contentMoon moonLight" id="moonLight">
                <img src="./assets/images/home/Moon_fill.svg" alt="Moon Fill Light" class="contentMoon moonDark" id="moonDark">
            </div>
            <div class="containerSun" id="containerSun" onclick="switchLight();">
                <img src="./assets/images/home/Sun_fill.svg" alt="Sun Fill Light" class="contentSun" id="contentSun">
            </div>
        </div>
    </div>
</div>