<header class="page-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg align-items-center">
            <a class="navbar-brand" href="{{path('app_home')}}">
                <img src="./assets/images/home/brand-logo.svg" alt="SnapCode brand logo">
            </a>
            <!-- End of .navbar-brand -->
            <!-- End of .navbar-nav -->
        </nav>
    </div>
    <!-- End of .container -->
</header>